google-api-python-client
praw
youtube_dl
discord-components
PyNaCl
oauth
mod
aiofiles
DiscordUtils
prsaw
dnspython
Pillow
googletrans==4.0.0-rc1
mal-api
discord-together
jishaku
thispersondoesnotexist
python-dateutil
gTTS
PyNaCl
asyncpg
async-cse
discord.py
